extends:
  - standard
  - standard-react
parser: babel-eslint
rules:
  object-curly-spacing: [ error, always ]
  react/prop-types: off
  import/no-unresolved: 2
  space-before-function-paren: off
globals:
  React: false
