/*--------------------------------------------------------------
- H group
--------------------------------------------------------------*/
h1{font-weight: bold;}
h2{font-weight: bold;}
h3{}
h4{font-weight: bold;}
h5{}
h6{}


/*--------------------------------------------------------------
- Title Style
--------------------------------------------------------------*/

.title-1{
  margin: 10px 0;
	h1{
		margin: 0;
    color: #000;
    font-weight: bold;
	}
}
