.box-form-input-group {
  width: 100%;
  display: table;
  margin-bottom: 20px;
  letter-spacing: -0.33em;
  label{
    letter-spacing: normal;
  }
  .box-form-input, a, button{
    // display: inline-block;
    width: auto;
    display: table-cell;
    letter-spacing: normal;
    border-radius: 0px;
  }
  .box-form-input .form-input{
    border-radius: 0;
    border-left-width: 0px;
  }
  .box-form-input:first-child .form-input, a:first-child, button:first-child{
    border-left-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .box-form-input:last-child .form-input, a:last-child, button:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
