
// ===========================
// Wrapper
// ===========================
.wrap-form-input{
  position: relative;
  .form-input:focus ~ .validation-label{
    display: inline-block;
  }
  .validation-label{
    display: none;
    position: absolute;
    right: 0;
    bottom: 40px;
    background: $gray2;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }
  .validation-label:after{
    content: '';
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid $gray2;
    position: absolute;
    bottom: -4px;
    right: 11px;
  }
  &:after{
    position: absolute;
    right: 16px;
    top: 8px;
    font-family: 'FontAwesome', serif;
    display: none;
  }
  &.show-icon:after{
    display: inline-block;
  }
  // ERROR
  &.error{
    .form-input, input{
      border: 1px solid $red2;
    }
    &:after{content: "\f057"; color: $red2}
  }
  &.error .validation-label{
    background: $red2;
  }
  &.error .validation-label:after{
    border-top: 6px solid $red2;
  }
  // WARNING
  &.warning{
    .form-input{
      border: 1px solid $yellow;
    }
    &:after{content: "\f06a"; color: $yellow}
  }
  &.warning .validation-label{
    background: $yellow;
  }
  &.warning .validation-label:after{
    border-top: 6px solid $yellow;
  }
  // SUCCESS
  &.success{
    .form-input{
      border: 1px solid $green2;
    }
    &:after{content: "\f058"; color: $green2}
  }
  &.success .validation-label{
    background: $green2;
  }
  &.success .validation-label:after{
    border-top: 6px solid $green2;
  }

  // LOADING
  &.loading{
    &:after{
      content: "\F110";
      display: inline-block;
      animation: rotate 1s infinite linear;
    }
    .form-input{
      background: #eee;
    }
  }
}
// ===========================
// label
// ===========================
.form-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  min-height: 13px;
  font-size: 13px;
}
// ===========================
// Input
// ===========================
.form-input {
  line-height: 14px;
  height: 34px;
  border-radius: 3px;
  width: 100%;
  padding: 6px 12px;
  color: $gray1;
  font-size: 14px;
  line-height: 14px;
  background: #fff;
  // box-shadow: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid $gray5;
  @include transition(0.3s);
  &:focus{
    border: 1px solid $blue2;
    outline: none;
    box-shadow: 0 0 3px $blue2;
  }
  &.small{

  }
  &[disabled]{
    background: #eee;
  }
}
input.form-input{
  line-height: 14px;
  // height: 34px;
}
// ===========================
// Box form input
// ===========================

.box-form-input {
  position: relative;
  margin-bottom: 20px;
  // &.has-error input.form-input,&.has-error select.form-select {
  //   border: 1px solid red;
  // }

  .helper-label{
    font-size: 11px;
    margin-top: -1px;
    background: #eee;
    padding: 6px 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #999;
  }
  &.inline{
    .wrap-form-input, .form-label{
      display: inline-block;
      vertical-align: middle;
      width: auto;
      margin-left: 5px;
      margin-bottom: 0;
    }
    .wrap-form-input:first-child, .form-label:first-child{
      margin-left: 0;
    }
  }
}
// ===========================
// Marker
// ===========================
.marker {
  color: $red2;
  margin-left: 5px;
}
// ===========================
// Text required
// ===========================
.text-required{
  font-size: 14px;
  color: $gray1;
  line-height: 16px;
  @include breakpoint('M'){
    margin-top: 5px;
    font-size: 12px;
  }
}

.input-inline {
  width: 100%;
  margin-left: -2px;
}
