.radio-style{
  input{
    height: 0;
    width: 0;
    opacity: 0;
    margin: 0;
  }
  .input:before{
    position: absolute;
    content: '';
    display: inline-block;
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 1px solid $red2;
    // border: 1px solid #D9D9D9;
    cursor: pointer;
  }
  input:checked ~ .input:before{
    border: 1px solid $red2;
  }
  input:checked ~ .input:after{
    position: absolute;
    content: '';
    display: inline-block;
    top: 5px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: $red2;
    cursor: pointer;
  }
}

// Radio with label
.form-input-radio{
  margin-bottom: 20px;
  label{
    display: block;
    position: relative;
    padding-left: 30px;
    // font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 10px;
  }
  &.inline label{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .text-required{
    font-weight: normal;
    // font-size: 12px;
  }
  @extend .radio-style;
}

// Radio only
.input-radio{
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  @extend .radio-style;
}