/*--------------------------------------------------------------
- Fonts Web
--------------------------------------------------------------*/

$f-12:12px;
$f-14:14px;
$f-16:16px;
$f-18:18px;
$f-20:20px;
$f-22:22px;
$f-24:24px;
$f-26:26px;

// Class
.f-12{font-size: $f-12;}
.f-14{font-size: $f-14;}
.f-16{font-size: $f-16;}
.f-18{font-size: $f-18;}
.f-20{font-size: $f-20;}
.f-22{font-size: $f-22;}
.f-24{font-size: $f-24;}
.f-26{font-size: $f-26;}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

//font text
.font-gray3{color: $gray3;}
.font-red2{color: $red2;}
.font-bold{font-weight: bold;}
.font-body{font-size: 16px;}

.font-header{
  font-size: 24px;
  font-weight: bold;
}

.font-title{
  font-size: 22px;
  font-weight: bold;
}

.font-sub-title{
  font-size: 18px;
  font-weight: bold;
}

.font-description-bold{
  font-size: 16px;
  font-weight: bold;
}

.font-description{
  font-size: 16px;
}

.font-description-small{
  font-size: 14px;
}

//Font Input
.font-input{
  font-size: 16px;
}

.font-input-small{
  font-size: 14px;
}

.font-placeholder{
  &::-webkit-input-placeholder, 
  &::-moz-placeholder, 
  &::-ms-input-placeholder,
  &::-moz-placeholder {
    font-size: 18px;
    color: $gray5;
  }
}

// .font-placeholder{
//  font-size: 14px;
//  color: $gray4;
// }

.font-sub-title-white{
  font-size: 18px;
  font-weight: bold;
  color: white;
}

//button font
.font-button{
  font-size: 18px;
  font-weight: bold;
}

.font-button-small{
  font-size: 16px;
  font-weight: bold;
}

.font-tab{
  font-size: 18px;
  font-weight: bold;
}