.DEFAULT{
  .box-alert-message{
    background: #4D82D6;
  }
  .box-alert-message .close{
    color: #fff;
    opacity: 1;
  }
}
.ERROR{
  .box-alert-message{
    background: $red2;
    color: #fff;
  }
  .box-alert-message .close{
    color: #fff;
    opacity: 1;
  }
}
.WARNING{
  .box-alert-message{
    background: $yellow;
    color: #fff;
  }
  .box-alert-message .close{
    color: #fff;
    opacity: 1;
  }
}
.SUCCESS{
  .box-alert-message{
    background: #57BF57;
  }
}
.SYSTEM_ERROR{
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  background: $red2;
  .D-2{
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .box-alert-message{
    top: 45%;
    bottom: initial;
    border-radius: 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
    box-shadow: none;
    background: $red2;
    color: #fff;
    .close{display: none;}
  }
}
.box-alert-message{
  position: fixed;
  z-index: 3;
  // bottom: 23px;
  // width: 500px;
  left: 0;
  right: 0;
  top: 0;
  // margin-left: -250px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.34);
  // border-radius: 5px;
  font-weight: bold;
  color: #fff;
  h1{
    margin: 0;
  }
  // .detail i.fa{font-size: 50px;}
  .close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    color: #000;
  }
}