$text-color: #444444;
$link-color: #e64946;

$tmv: #f5bb2e;
$tvs: #f02f94;
$tol: #00a0c6;
$light-green: #57aa7a;
$light-background: #f8f8f8;
$dark-sky-blue: #54a1dd;
$silver: #d1dadd;
$dark-background: #393d41;
$dark-blue: #213449;
$light-border: #ececec;
$subheader: #878787;
$header: #4a4a4a;
$primary: #be493e;


//gray color
$gray1: #4F4F4F;
$gray2: #717374;
$gray3: #95989A;
$gray4: #AAACAE;
$gray5: #D5D6D7;
$gray6: #F0F0F0;
$gray7: #F8F8F8;

//red
$red1: #8E4D52;
$red2: #CF4D57;
$red3: #D87078;
$red4: #F8E4E6;

//green
$green1: #689281;
$green2: #82D7B5;
$green3: #9BDFC3;
$green4: #ECF9F4;

//cyan
$blue1: #4F828F;
$blue2: #51B7D1;
$blue3: #73C5DA;

//pink
$pink: #EB7F9B;

//yellow
$yellow: #FDC54D;

//$gold
$gold1: #9d8863;
















